<div class="signinup__inner--create">
  <h3>{{'new-password.create_new_password' | translate}}</h3>
  <form class="form" novalidate [formGroup]="recoverForm">
    <ui-input [type]="'password'" formControlName="password" [className]="'mail-input'" [inputId]="'password'"
              [placeholder]="'new-password.new_password' | translate"></ui-input>
    <ui-input [type]="'password'" formControlName="confirmPassword" [className]="'mail-input'" [inputId]="'confirm_password'"
              [placeholder]="'new-password.confirm_password' | translate"></ui-input>
    <ul>
      <li [class.li-wrong]="passwordError.length !== null && passwordError.length" [class.li-right]="passwordError.length !== null && !passwordError.length">{{'registration-password.must_contain_chars' | translate}}</li>
      <li [class.li-wrong]="passwordError.number !== null && passwordError.number" [class.li-right]="passwordError.number !== null && !passwordError.number">{{'registration-password.must_contain_number' | translate}}</li>
      <li [class.li-wrong]="passwordError.uppercase !== null && passwordError.uppercase" [class.li-right]="passwordError.uppercase !== null && !passwordError.uppercase">{{'registration-password.must_contain_uppercase_letter' | translate}}</li>
      <li [class.li-wrong]="passwordError.lowercase !== null && passwordError.lowercase" [class.li-right]="passwordError.lowercase !== null && !passwordError.lowercase">{{'registration-password.must_contain_lowercase_letter' | translate}}</li>
      <li *ngIf="passwordError.matching !== null" [class.li-wrong]="passwordError.matching" [class.li-right]="!passwordError.matching">{{'registration-password.must_match' | translate}}</li>
    </ul>

    <ui-button [disabled]="!recoverForm?.valid" [className]="'button button--large button--primary button--full-radius'"
               [text]="'new-password.submit' | translate " [type]="'ordinary'" [size]="'large'"
               (btnClicked)="recover()"></ui-button>

    <app-control-message [control]="recoverForm"></app-control-message>
    <app-control-message [control]="recoverForm.controls['password']"></app-control-message>
    <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
  </form>

  <div *ngIf="formView === 'success'" class="successfully-restored">
    <i class="icon-success"></i>

    <h4>{{ 'new-password.new_password_successfully' | translate }}</h4>

    <div class="button-container">
      <button class="submit-button" [routerLink]="'/wallet/transfer'">{{ 'new-password.ok' | translate }}</button>
    </div>
  </div>
</div>
