<div class="signinup__inner--create">
  <h3>{{'new-password.create_new_password' | translate}}</h3>
  <form class="form" novalidate [formGroup]="recoverForm">
    <ui-input [type]="'password'" formControlName="password" [className]="'mail-input'" [inputId]="'password'"
              [placeholder]="'new-password.new_password' | translate"></ui-input>
    <ui-input [type]="'password'" formControlName="confirmPassword" [className]="'mail-input'" [inputId]="'confirm_password'"
              [placeholder]="'new-password.confirm_password' | translate"></ui-input>

    <ui-button [disabled]="!recoverForm?.valid" [className]="'button button--large button--primary button--full-radius'"
               [text]="'new-password.submit' | translate " [type]="'ordinary'" [size]="'large'"
               (btnClicked)="recover()"></ui-button>

    <app-control-message [control]="recoverForm"></app-control-message>
    <app-control-message [control]="recoverForm.controls['password']"></app-control-message>
    <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
  </form>

  <div *ngIf="formView === 'success'" class="successfully-restored">
    <i class="icon-success"></i>

    <h4>{{ 'new-password.new_password_successfully' | translate }}</h4>

    <div class="button-container">
      <button class="submit-button" [routerLink]="'/wallet/transfer'">{{ 'new-password.ok' | translate }}</button>
    </div>
  </div>
</div>
