@import "variables.scss";
@import url(https://stage-mainnet-state.publiq.network/icomoon/icomoon.css);

* { box-sizing: border-box; }

:focus-visible {
  outline: 3px solid #ffffff;
}

body {
  margin: 0;
  font-family: $open-sans;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $blue;
  text-decoration: none;
}

.vline, .hline {
  display: inline-block;
  background: #EDEDED;
  vertical-align: middle;
}

.vline { width: 1px; height: 100%; }
.hline { width: 100%; height: 1px; }

.container {
  @include media-sm {
    padding-left: 15px;
    padding-right: 15px;
  }
}

ui-avatar {
  line-height: 0;
}
