@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?w2xc8k");
  src: url("../fonts/icomoon.eot?w2xc8k#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?w2xc8k") format("truetype"),
    url("../fonts/icomoon.woff?w2xc8k") format("woff"),
    url("../fonts/icomoon.svg?w2xc8k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change _fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_tag:before {
  content: "\e900";
  color: #a6a6a6;
}
.icon-unfollow:before {
  content: "\e901";
}
.icon-report:before {
  content: "\e902";
}
.icon-follow:before {
  content: "\e903";
}
.icon-like:before {
  content: "\e904";
}
.icon-uploaded:before {
  content: "\e905";
}
.icon-appointment:before {
  content: "\e906";
}
.icon-views:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e908";
}
.icon-log-out:before {
  content: "\e909";
}
.icon-my-stories:before {
  content: "\e90a";
}
.icon-new-story:before {
  content: "\e90b";
}
.icon-notifications:before {
  content: "\e90c";
}
.icon-pbq:before {
  content: "\e90d";
}
.icon-profile:before {
  content: "\e90e";
}
.icon-receive:before {
  content: "\e90f";
}
.icon-send:before {
  content: "\e910";
}
.icon-settings:before {
  content: "\e911";
}
.icon-sign-in:before {
  content: "\e912";
}
.icon-tags:before {
  content: "\e913";
}
.icon-transaction-history:before {
  content: "\e914";
}
.icon-all:before {
  content: "\e915";
}
.icon-angle-left:before {
  content: "\e916";
}
.icon-angle-right:before {
  content: "\e917";
}
.icon-camera:before {
  content: "\e918";
}
.icon-close:before {
  content: "\e919";
}
.icon-delete:before {
  content: "\e91a";
}
.icon-edit:before {
  content: "\e91b";
}
.icon-frames:before {
  content: "\e91c";
}
.icon-fresh:before {
  content: "\e91d";
}
.icon-login:before {
  content: "\e91e";
}
.icon-nav:before {
  content: "\e91f";
}
.icon-pin-o:before {
  content: "\e920";
}
.icon-pin:before {
  content: "\e921";
}
.icon-play:before {
  content: "\e922";
}
.icon-plus:before {
  content: "\e923";
}
.icon-search:before {
  content: "\e924";
}
.icon-share:before {
  content: "\e925";
}
.icon-updated:before {
  content: "\e926";
}
.icon-video:before {
  content: "\e927";
}
.icon-info:before {
  content: "\ea0c";
}
