<div *ngIf="isDataLoaded" class="signinup__inner signinup__inner--create-password">
  <div *ngIf="tokenCheckStatus == TokenCheckStatusEnum.Success && !showPhase">
    <h3>{{ 'registration-password.title' | translate }}</h3>
    <p>
      {{ 'registration-password.password_description' | translate }}
    </p>
    <form class="form" novalidate [formGroup]="configForm">
      <ui-input [type]="'password'" formControlName="password" [className]="'mail-input'" [inputId]="'password'"
                [placeholder]="'registration-password.new_password' | translate"></ui-input>
      <ui-input [type]="'password'" formControlName="confirmPassword" [className]="'mail-input'" [inputId]="'confirm_password'"
                [placeholder]="'registration-password.confirm_password' | translate"></ui-input>

      <ul>
        <li [class.li-wrong]="passwordError.length !== null && passwordError.length" [class.li-right]="passwordError.length !== null && !passwordError.length">{{'registration-password.must_contain_chars' | translate}}</li>
        <li [class.li-wrong]="passwordError.number !== null && passwordError.number" [class.li-right]="passwordError.number !== null && !passwordError.number">{{'registration-password.must_contain_number' | translate}}</li>
        <li [class.li-wrong]="passwordError.uppercase !== null && passwordError.uppercase" [class.li-right]="passwordError.uppercase !== null && !passwordError.uppercase">{{'registration-password.must_contain_uppercase_letter' | translate}}</li>
        <li *ngIf="passwordError.matching !== null" [class.li-wrong]="passwordError.matching" [class.li-right]="!passwordError.matching">{{'registration-password.must_match' | translate}}</li>
      </ul>

      <ui-button [disabled]="!configForm?.valid" [className]="'button button--large button--primary button--full-radius'"
                 [text]="'registration-password.register' | translate " [type]="'ordinary'" [size]="'large'"
                 (btnClicked)="onSubmit()"></ui-button>
    </form>
  </div>
  <div *ngIf="showPhase" class="phase">
    <h3>Recovery Phase</h3>
    <div class="phase__container" *ngIf="decryptedBrainKey && decryptedBrainKey.length">
      {{decryptedBrainKey}}
    </div>
    <div class="phase__footer--top">
      <div>
        <i class="icon-info"></i>
      </div>
      <div>
        {{'registration-password.save_recovery_phrase' | translate}}
      </div>
    </div>
    <div class="phase__footer">
      <ui-button [className]="'button button--large button--primary button--full-radius'" [type]="'ordinary'" [size]="'large'" (btnClicked)="doneRegistration()" [text]="'registration-password.done' | translate" ></ui-button>
    </div>
  </div>
</div>
