@import "../../../assets/css/common";
.signinup {
  &__inner {
    ul {
      text-align: left;
      padding: 0 0 0 20px;

      li {
        transition: color 300ms;
        font: 600 13px/18px $open-sans;
        color: pbq-color($grey, 500);
        margin: 0 0 4px;
      }

      ::ng-deep .li-right { color: $green !important; }
      ::ng-deep .li-wrong { color: $red   !important; }
    }
  }
}
