@import "../../../assets/css/variables";

.signinup {
  width: 100%;
  min-height: 100vh;
  font-size: 0;
  background: #ffffff;

  &__side {
    font-size: 16px;
    width: 50%;
    height: 100%;
    display: inline-block;
    position: absolute;

    @include media-lg {
      min-height: auto;
      width: 100%;
      height: auto;
      position: relative;
    }

    &--light {
      overflow-y: scroll;
      right: 0;

      .signinup__header {
        @include media-sm {
          box-shadow: 0px 2px 10px rgba(43, 43, 43, 0.1);
          padding: 20px 15px 15px;

          .tabber .tabber__underline {
            bottom: -17px;
          }
        }

        .tabber {
          @include media-sm-only {
            position: absolute;
            left: 50%; top: 21.5px;
            transform: translateX(-50%);
          }
          @include media-md-only {
            position: absolute;
            left: 50%; top: 21.5px;
            transform: translateX(-50%);
          }
        }
      }

      .signinup__content {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @include media-lg {
          min-height: calc(90vh - 150px);
        }

        @include media-sm {
          padding: 25px 15px;
          min-height: calc(90vh - 75px);
        }
      }

      .signinup__footer {
        &.register {
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
        }
        &.login {
          text-align: right;
        }
        a {
          font-weight: 600;
          color: $blue;
          i {
            transform: rotate(-180deg);
            display: inline-block;
          }
        }

        @include media-lg {
          text-align: center;
        }
      }
    }

    &--dark {
      background-color: pbq-color($grey, 700);
      left: 0;
      border-radius: 0 25px 25px 0;
      overflow: hidden;

      .signinup__header {
        @include media-lg {
          padding: 0;
          min-height: 50px;
        }
      }

      .signinup__footer {
        a {
          color: pbq-color($grey, 500);
          margin-right: 35px;
          text-transform: uppercase;
        }
      }

      .signinup__content {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include media-lg {
        border-radius: 25px 25px 0 0;
      }
    }
  }

  &__header,
  &__footer {
    width: 100%;
    max-height: 120px;
  }

  &__header {
    min-height: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;

    &__logo {
      height: 35px;
    }

    &__language {
      display: inline-block;
      font-weight: 600;

      span {
        margin-left: 20px;
        color: $grey;
        cursor: pointer;

        &.language--active {
          color: #fff;
          cursor: default;
        }
      }

      @include media-lg {
        position: absolute;
        bottom: 24px;
        right: 30px;
      }
    }

    @include media-xl {
      padding: 20px 40px;
    }

    @include media-lg {
      min-height: 72px;
      padding: 20px 30px;
    }

  }

  &__content {
    padding: 0 80px;
    width: 100%;
    min-height: calc(100% - 240px);

    @include media-lg {
      padding: 0 40px;
    }

    @include media-sm {
      padding: 0 15px;
    }
  }

  ::ng-deep &__inner {
    display: inline-block;
    width: 100%;
    max-width: 360px;
    min-height: 380px;
    text-align: center;
    .phase {
      display: flex;
      flex-direction: column;
      p {
        font-family: $open-sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #191B1E;
        margin-bottom: 30px;
      }
      &__container {
        background: #FFF3E7;
        border-top: 1.5px solid #FF8E20;
        border-radius: 0px 0px 10px 10px;
        font-family: $open-sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #191B1E;
        padding: 15px 20px;
        margin-bottom: 30px;
      }
      &__footer--top {
        display: flex;
        align-items: center;
        div:first-child {
          margin-right: 15px;
          i {
           color: #FF8E20;
            font-size: 25px;
          }
        }
        div:last-child {
          font-family: $open-sans;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: #565A60;
          text-align: left;
        }
      }
    }

    h2 {
      font: 700 50px/70px $vollkorn;
      text-align: center;
      margin: 0;

      @include media-sm {
        font: 700 30px/42px $vollkorn;
      }
    }

    p {
      font: 15px/20px $open-sans;
      color: $grey;
      text-align: center;
      margin: 5px 0 50px;

      &.error-message {
        color: $error-red;
        margin: 30px 0 0;
      }

      @include media-sm {
        margin: 5px 0 35px;
      }
    }

    input[type="text"],
    input[type="password"] {
      margin-bottom: 10px;
    }

    .button--primary {
      min-width: 210px;
      margin: 20px 0 0;
      padding: 13px 13px 14px;
      line-height: normal;
    }

    @include media-lg {
      max-width: 320px;
    }

    //SIGNUP FORM
    &--register{
      img{
        margin-bottom: 45px;
        width: 80px;
      }
      h3{
        font: 700 35px/40px $vollkorn;
        text-align: center;
        color: pbq-color($grey, 700);
        margin:0 0 14px;
      }
      p.signinup__register--email{
        font: 600 20px/27px $open-sans;
        margin: 0 0 35px;
      }
      p{
        margin: 0;
        a{
          color: $blue;
          font-weight: 600;
          cursor: pointer;
        }
      }

    }
    &--create-password{
      h3{
        font: 700 35px/40px $vollkorn;
        text-align: center;
        color: pbq-color($grey, 700);
        margin:0 0 9px;
      }
      p{
        margin: 0 0 50px;
      }
      b{
        font: 600 13px/18px $open-sans;
        margin: 20px 0 10px;
        display: block;
        text-align: left;
        padding: 0 20px;
      }
      .create-password--recovery-phrase{
        border-top: 1.5px solid #FF8E20;
        background: pbq-color($orange, 300);
        border-radius: 0px 0px 10px 10px;
        padding:16px 20px;
        margin-bottom: 10px;
      }
      &--text{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img{
          margin-right: 15px;
          height: 24px;
          width: 24px;
        }
        span{
          //font-family: Open Sans;
          font-size: 13px;
          line-height: 18px;
          text-align: left;
          color: $grey;
        }
      }
    }
    &--create{
      max-width: 400px;
      input{
        max-width: 360px;
        margin: 0 auto;
      }
      h3{
        font: 700 40px/56px $vollkorn;
        text-align: center;
        color: pbq-color($grey, 700);
        margin:0 0 57px;
      }
    }
    &__restore{
      h3{
        font: 700 40px/56px $vollkorn;
        text-align: center;
        color: pbq-color($grey, 700);
        margin:0 0 5px;
      }
      p{
        margin: 0 0 50px;
      }
      textarea{
        display: block;
        width: 100%;
        min-height: 99px;
        resize: none;
        padding: 15px 20px;
        margin-bottom: 10px;
        font: 600 17px/23px $open-sans;
      }
    }
  }

  &__footer {
    font-size: 15px;
    padding: 50px 80px;

    @include media-xl {
      padding: 50px 40px;
    }

    @include media-lg {
      padding: 26px 40px;
    }

    @include media-sm {
      padding: 26px 15px;
    }
    &--terms{
      font: normal 15px/20px $open-sans;
      color: pbq-color($grey, 500);
      margin: 0;
      a{
        color: pbq-color($grey, 600)!important;
      }
    }
  }

  &__slider {
    &__item {
      text-align: center;

      &__texts {
        margin: 60px 0 0;

        div {
          &:last-child {
            margin: 10px 0 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #ffffff;
          }

          &:first-child {
            font-size: 17px;
            line-height: 23px;
            color: #ffffff;
            opacity: .5;
          }
        }
      }
    }

    &__bullets {
      width: 100%;
      margin: 50px 0 0;
      text-align: center;

      ::ng-deep .swiper-pagination-bullet {
        outline: none;
        margin: 0 10px!important;
        background: #ffffff;

        &-active { background: $blue; }
      }
    }


      &__item {
        img {
          height: 260px;
        }

        &__texts {
          margin: 40px 0 0;
        }
      }

      &__bullets {
        margin: 30px 0 0;
      }


    @include media-lg {
      margin: 0 0 54px;
      max-width: 580px;

      &__item {
        display: flex;

        img {
          vertical-align: top;
          height: 112px;
        }

        &__texts {
          display: inline-block;
          margin: 0 0 0 40px;
          vertical-align: top;
          text-align: left;
        }
      }

      &__bullets {
        margin: 0 0 53px;
      }
    }
  }
}
