<div class="container-fluid" *ngIf="!highlightsListLoaded || (highlightsListLoaded && highlightsList && highlightsList.length > 0)">
  <div class="row">
    <div class="col-12 highlights-wrapper">
      <drag-scroll [drag-scroll-y-disabled]="true">
        <div class="highlights">
          <ng-container *ngIf="((listType == 'grid' && isMasonryLoaded) || (listType == 'single' && firstContentBlock.length)) && highlightsListLoaded; else highlightsLoading;">
            <ui-highlights [highlightData]="highlight" (highlightClick)="onHighlightClicked(highlight)" *ngFor="let highlight of highlightsList;"></ui-highlights>
          </ng-container>
          <ng-template #highlightsLoading>
            <ui-loading-block type="highlight" *ngFor="let highlight of loadingHighlightCount;"></ui-loading-block>
          </ng-template>
        </div>
      </drag-scroll>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xl-9">
      <div class="col-lg-12 col-xl-12">
        <div class="grid-style">
          <h2 *ngIf="!((listType == 'grid' && !isMasonryLoaded) || (listType == 'single' && !firstContentBlock.length))"
              class="shadowed-heading"
              [attr.data-shadow-text]="'homepage.recommended' | translate">{{'homepage.recommended' | translate}}</h2>
          <ui-loading-block type="line" width="80" height="20"
                            className="grid-style__loading"
                            *ngIf="(listType == 'grid' && !isMasonryLoaded) || (listType == 'single' && !firstContentBlock.length)"></ui-loading-block>
          <div class="grid-style__items">
            <i (click)="listType = 'grid'" class="grid-icon grid-icon--selected icon-multi-grid"
               [ngClass]="{'grid-icon--selected': (listType == 'grid')}"></i>
            <i (click)="listType = 'single'" class="grid-icon icon-single-grid"
               [ngClass]="{'grid-icon--selected': (listType == 'single')}"></i>
          </div>
        </div>
      </div>
      <ng-container
        *ngIf="(listType == 'grid' && !isMasonryLoaded) || (listType == 'single' && !firstContentBlock.length)">
        <div class="col-lg-12 col-xl-12">
            <ui-loading-block *ngFor="let i of loadingBlockCount" [type]="listType"></ui-loading-block>
        </div>
      </ng-container>
      <ng-container *ngIf="firstContentBlock.length">
        <ng-container *ngIf="listType == 'grid'">
          <ngx-masonry class="col-lg-12 col-xl-12 stories" [class.masonry]="isMasonryLoaded"
                       [updateLayout]="updateMasonryFirstBlock" (layoutComplete)="onLayoutComplete($event)"
                       [options]="myOptions">
            <ngxMasonryItem *ngFor="let content of firstContentBlock">
              <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)"
                                 (contentClick)="utilService.routerChangeHelper('content',$event)"
                                 (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)"
                                 (tagClick)="onTagClick($event)" class="masonry-item"
                                 [type]="listType"
                                 [contentData]="content"
                                 [loadOriginalImg]="false"
                                 [publicationList]="publicationsList"
                                 [canEditContent]="accountService.loggedIn() && accountService.accountInfo.publicKey === content.author.publicKey"
                                 (onTagItemSelect)="onRouteChange($event, content)"
                                 (onPublicationSelect)="changePublication($event, content.uri, 'firstBlock')"
                                 (imageLoaded)="updateMasonryFirstBlock = !updateMasonryFirstBlock">
              </ui-content-single>
            </ngxMasonryItem>
          </ngx-masonry>
        </ng-container>
        <div *ngIf="listType == 'single'" class="col-lg-12 col-xl-12">
          <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)"
                             (contentClick)="utilService.routerChangeHelper('content',$event)"
                             (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)"
                             (tagClick)="onTagClick($event)"
                             [type]="listType" *ngFor="let content of firstContentBlock;"
                             [publicationList]="publicationsList"
                             [canEditContent]="accountService.loggedIn() && accountService.accountInfo.publicKey === content.author.publicKey"
                             (onTagItemSelect)="onRouteChange($event, content)"
                             (onPublicationSelect)="changePublication($event, content.uri, 'firstBlock')"
                             [contentData]="content"></ui-content-single>
        </div>
      </ng-container>
      <ng-container *ngIf="contentArray && contentArray.length">
        <ui-relevant-content (contentClick)="utilService.routerChangeHelper('content',$event)"
                             *ngIf="firstRelevantBlock.length" [type]="'all-single'" [contentList]="firstRelevantBlock"
                             [title]="'homepage.interesting_writers_first' | translate"></ui-relevant-content>
        <div class="row" *ngIf="secondContentBlock.length">
          <ng-container *ngIf="listType == 'grid'">
            <ngx-masonry class="col-lg-12 col-xl-12 stories" [class.masonry]="isMasonryLoaded"
                         [updateLayout]="updateMasonrySecondBlock" (layoutComplete)="onLayoutComplete($event)"
                         [options]="myOptions">
              <ngxMasonryItem *ngFor="let content of secondContentBlock">
                <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)"
                                   (contentClick)="utilService.routerChangeHelper('content',$event)"
                                   (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)"
                                   (tagClick)="onTagClick($event)" class="masonry-item"
                                   [type]="listType" [contentData]="content"
                                   [loadOriginalImg]="false"
                                   [publicationList]="publicationsList"
                                   [canEditContent]="accountService.loggedIn() && accountService.accountInfo.publicKey === content.author.publicKey"
                                   (onTagItemSelect)="onRouteChange($event, content)"
                                   (onPublicationSelect)="changePublication($event, content.uri, 'secondBlock')"
                                   (imageLoaded)="updateMasonrySecondBlock = !updateMasonrySecondBlock">
                </ui-content-single>
              </ngxMasonryItem>
            </ngx-masonry>
          </ng-container>
          <div *ngIf="listType == 'single'" class="col-lg-12 col-xl-12">
            <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)"
                               (contentClick)="utilService.routerChangeHelper('content',$event)"
                               (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)"
                               (tagClick)="onTagClick($event)"
                               [type]="listType" *ngFor="let content of secondContentBlock;"
                               [publicationList]="publicationsList"
                               [canEditContent]="accountService.loggedIn() && accountService.accountInfo.publicKey === content.author.publicKey"
                               (onTagItemSelect)="onRouteChange($event, content)"
                               (onPublicationSelect)="changePublication($event, content.uri, 'secondBlock')"
                               [contentData]="content"></ui-content-single>
          </div>
        </div>
        <ui-relevant-content (contentClick)="utilService.routerChangeHelper('content',$event)"
                             (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)"
                             (accountClick)="utilService.routerChangeHelper('account',$event.slug)"
                             (tagClick)="onTagClick($event)" *ngIf="secondRelevantBlock.length"
                             [contentList]="secondRelevantBlock"
                             [title]="'homepage.interesting_writers_second' | translate"></ui-relevant-content>
      </ng-container>
      <ng-container *ngIf="loadedContentBlock.length">
        <div class="row">
          <ng-container *ngIf="listType == 'grid'">
            <ngx-masonry class="col-lg-12 col-xl-12 stories" [class.masonry]="isMasonryLoaded"
                         [updateLayout]="updateMasonryContentBlock" (layoutComplete)="onLayoutComplete($event)"
                         [options]="myOptions">
              <ngxMasonryItem *ngFor="let content of loadedContentBlock">
                <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)"
                                   (contentClick)="utilService.routerChangeHelper('content',$event)"
                                   (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)"
                                   (tagClick)="onTagClick($event)" class="masonry-item"
                                   [type]="listType" [contentData]="content"
                                   [loadOriginalImg]="false"
                                   [publicationList]="publicationsList"
                                   [canEditContent]="accountService.loggedIn() && accountService.accountInfo.publicKey === content.author.publicKey"
                                   (onTagItemSelect)="onRouteChange($event, content)"
                                   (onPublicationSelect)="changePublication($event, content.uri, 'loadedBlock')"
                                   (imageLoaded)="updateMasonryContentBlock = !updateMasonryContentBlock">
                </ui-content-single>
              </ngxMasonryItem>
            </ngx-masonry>
          </ng-container>
          <div *ngIf="listType == 'single'" class="col-lg-12 col-xl-12">
            <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)"
                               (contentClick)="utilService.routerChangeHelper('content',$event)"
                               (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)"
                               (tagClick)="onTagClick($event)"
                               [type]="listType" *ngFor="let content of loadedContentBlock"
                               [publicationList]="publicationsList"
                               [canEditContent]="accountService.loggedIn() && accountService.accountInfo.publicKey === content.author.publicKey"
                               (onTagItemSelect)="onRouteChange($event, content)"
                               (onPublicationSelect)="changePublication($event, content.uri, 'loadedBlock')"
                               [contentData]="content"></ui-content-single>
          </div>
        </div>
      </ng-container>
      <div class="row" *ngIf="seeMoreLoading">
        <div class="col-lg-12 col-xl-12 loading-indicator">
          <ui-loading-block [type]="listType"></ui-loading-block>
          <ui-loading-block [type]="listType"></ui-loading-block>
          <ui-loading-block [type]="listType" class="additional-block"></ui-loading-block>
        </div>
      </div>
      <ng-container *ngIf="seeMoreChecker">
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
             [infiniteScrollDisabled]="blockInfiniteScroll" (scrolled)="seeMore()"></div>
      </ng-container>
    </div>
    <div class="col-lg-4 col-xl-3 feed-sidebar" [ngClass]="accountService.loggedIn() ? '' : 'guest-version'">
      <ng-container *ngIf="(listType == 'grid' && !isMasonryLoaded) || (listType == 'single' && !firstContentBlock.length)">
        <div class="feed-sidebar__widget" *ngIf="!storageAuth()">
          <ui-welcome-message type="welcome_to_media_loading"></ui-welcome-message>
          <ui-loading-block type="item-list" *ngIf="recommendedPublicationsList.length === 0"></ui-loading-block>
        </div>
        <div class="feed-sidebar__widget" *ngIf="storageAuth()">
          <ui-loading-block type="boostable"></ui-loading-block>
          <ui-loading-block type="recommended"></ui-loading-block>
          <ui-loading-block type="item-list"></ui-loading-block>
        </div>
      </ng-container>
      <div *ngIf="(listType == 'grid' && isMasonryLoaded) || (listType == 'single' && firstContentBlock.length)"
           class="feed-sidebar__widget">
        <ui-welcome-message *ngIf="welcomeMessageState && !accountService.loggedIn()"
                            [type]="welcomeMessageType"
                            [state]="welcomeMessageState"
                            (onSubmit)="onSignUp($event)"
                            (onClosed)="welcomeMessageState = null;">
        </ui-welcome-message>
        <ui-welcome-message *ngIf="hasFirstArticle && startEarningShown && accountService.loggedIn()"
                            type="start_earning" (onClosed)="startEarningShown = false;"
                            (onSubmit)="goToEditor(false)">
        </ui-welcome-message>
        <div class="boost-container" *ngIf="accountService.loggedIn() && articleToBoost" [ngClass]="!articleToBoost.cover && !articleToBoost.cover.thumbnail ? 'no-cover' : null">
          <div class="boost-container__single">
            <div class="boost-container__single--body">
              <div class="img-container pointer" (click)="utilService.routerChangeHelper('content', articleToBoost.uri)">
                <ui-avatar [isSquaric]="true" [multiLetters]="false"
                           [avatarData]="{'fullName': articleToBoost.title, 'image': articleToBoost.cover ? articleToBoost.cover.url : null, 'thumbnail': articleToBoost.cover ? articleToBoost.cover.thumbnail : null}"></ui-avatar>
              </div>
              <div class="title-container" *ngIf="articleToBoost.title">
                <h3 class="pointer" (click)="utilService.routerChangeHelper('content', articleToBoost.uri)">{{articleToBoost.title}}</h3>
              </div>
            </div>
            <div class="boost-container__single--footer">
              <span>{{'homepage.grow_your_audience' | translate}}</span>
              <ui-button [type]="'ordinary'" [text]="'homepage.boost_story' | translate"
                         (btnClicked)="boostStory(articleToBoost)"></ui-button>
            </div>
          </div>
        </div>
        <div class="publications"
             *ngIf="recommendedPublicationsList && recommendedPublicationsList.length && accountService.loggedIn()">
          <ui-publication-list [countByPage]="recommendedPublicationsDefaultCount" [data]="recommendedPublicationsList"
                               [hasMore]="hasMoreRecommendedPublications" (getPublication)="goPublicationPage($event)"
                               (onFollow)="followPublication($event)"></ui-publication-list>
        </div>
        <div class="publications" *ngIf="trendingAuthorsList && trendingAuthorsList.length">
          <ui-author-block [countByPage]="trendingAuthorsDefaultCount" [type]="'trending'"
                           [currUserPbKey]="accountService.loggedIn() ? accountService.accountInfo.publicKey : ''"
                           [data]="trendingAuthorsList" (getAuthor)="goToAuthor($event)"
                           (onFollow)="followAuthor($event)" [hasMore]="hasMoreAuthors"></ui-author-block>
        </div>
        <div *ngIf="trendingAuthorsList && trendingAuthorsList.length">
          <ng-template #noPublication>
            <div class="no-more">
              {{'homepage.no_suggested_publications' | translate}}
            </div>
          </ng-template>
          <div class="copyright-space">
            <span class="copyright-space__text">  {{ 'homepage.publiq' | translate }}</span>
            <div class="copyright-space__items">
              <span *ngFor="let language of languagesList | keyvalue" class="copyright-space__items__item" [ngClass]="{'selected' : translateService.currentLang == language.key}" (click)="useLang(language.key)">{{language.value}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-start-earning-popup *ngIf="accountService.startEarningPopupShown"
                           (onClosed)="accountService.startEarningPopupShown = false;"
                           (onButtonClicked)="goToEditor(true)"></app-start-earning-popup>

  <div *ngIf="showBoostModal" class="publishing-space publishing-space--edit-boost">
    <app-boost-modal [modalType]="showBoostModalType"
                     (closeBoostedModal)="closeBoostModal()"
                     (submittedBoost)="submittedBoost()"
                     [contentUri]="selectedBoostData.uri">
    </app-boost-modal>
  </div>
  <div *ngIf="showHighlightModal" class="publishing-space publishing-space--edit-boost">
    <app-create-highlight (closeHighlightedModal)="closeHighlightModal()" [contentUri]="selectedBoostData.uri"></app-create-highlight>
  </div>

  <div *ngIf="showHistoryModal">
    <app-custom-dialog [case]="'history'" [properties]="contentVersions" (closeConfirmModal)="closeHistoryModal($event)"></app-custom-dialog>
  </div>
</div>

<app-highlight-modal *ngIf="selectedHighlight" [highlight]="selectedHighlight" (timeFinished)="highlightFinished($event)"></app-highlight-modal>
