<div class="signinup__inner--create-password" *ngIf="loadLoginForm">
  <h3>{{'login-password.password_title' | translate}}</h3>
  <p>
    {{'login-password.password_description' | translate}}
  </p>
  <form class="form" novalidate [formGroup]="configForm">
    <ui-input [type]="'password'" formControlName="password" [className]="'mail-input'" [inputId]="'password'"
              [placeholder]="'login-password.password' | translate"></ui-input>

    <ui-button [disabled]="!configForm?.valid" [className]="'button button--large button--primary button--full-radius'"
               [text]="'login-password.login' | translate " [type]="'ordinary'" [size]="'large'"
               (btnClicked)="onSubmit()"></ui-button>

    <app-control-message [control]="configForm"></app-control-message>
    <app-control-message [control]="configForm.controls['password']"></app-control-message>
    <p class="error-message" *ngIf="tokenCheckStatus == TokenCheckStatusEnum.Error">{{loginError}}</p>
  </form>
</div>
