<form class="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="publicationForm">

    <div class="create-content swiper-slide">
        <div class="post-cover no-gutters ">
            <div class="post-cover-wrapper">
                <div>
                    <h1>{{isEditing ? ('publication.update_pub' | translate) : ('content.create_new_pub' | translate) }}</h1>
                    <div class="new-pub-section">
                        <div class="pub-section-child">
                            <div class="post-metadata px-sm-0">
                                <mat-form-field class="full-width post-title">
                                    <textarea matInput matTextareaAutosize formControlName="title"
                                              placeholder="{{'content.title' | translate}}"
                                              style="color: currentColor; font: inherit;"></textarea>
                                    <mat-hint align="start" class="post-headline-hint">
                                        <app-control-message [control]="publicationForm.controls['title']"
                                                             class="exceeded" style="color:red"></app-control-message>
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field class="full-width post-title">
                                    <textarea matInput matTextareaAutosize formControlName="description"
                                              placeholder="{{'content.description' | translate}}"></textarea>
                                    <mat-hint align="start" class="post-headline-hint">
                                        <app-control-message [control]="publicationForm.controls['description']"
                                                             class="exceeded" style="color:red"></app-control-message>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div>
                                <div class="coverInput">
                                    <i class="icon-camera pointer" *ngIf="!coverImage && !coverFile"></i>
                                    <div *ngIf="coverImage || coverFile"
                                         [ngStyle]="{'backgroundImage': 'url(' + coverImage + ')'}"
                                         class="real-image"></div>
                                    <div class="input-description"
                                         [ngClass]="{'image-selected': coverImage && coverFile}">
                                        <span> {{'content.select_cover' | translate}}</span>
                                        <small>{{'user.up_to' | translate}} 2 MB</small>
                                    </div>
                                    <input type="file" #coverInput formControlName="cover" id="coverImage"
                                           (change)="selectCover($event)" accept="image/jpeg,image/png">
                                    <i *ngIf="coverImage" (click)="removeCover(coverInput)"
                                       class="icon-close pointer"></i>
                                </div>
                                <div class="logoInput">

                                    <i class="icon-camera pointer" *ngIf="!logoImage && !logoFile"></i>
                                    <div *ngIf="logoImage || logoFile"
                                         [ngStyle]="{'backgroundImage': 'url(' + logoImage + ')'}"
                                         class="real-image"></div>
                                    <div class="input-description"
                                         [ngClass]="{'image-selected': logoImage && logoFile}">
                                        <span> {{'content.select_logo' | translate}}</span>
                                        <small>{{'user.up_to' |  translate}} 1 MB</small>
                                    </div>

                                    <input type="file" #logoInput formControlName="logo" id="logoImage"
                                           (change)="selectLogo($event)" accept="image/jpeg,image/png">
                                    <i *ngIf="logoImage" (click)="removeLogo(logoInput)" class="icon-close pointer"></i>
                                </div>
                            </div>
                            <span class="exceeded" style="color:red" *ngIf="fileUploadError">{{fileUploadError}}</span>
                            <div class="post-main-content mt-6 row">
                                <div class="mb-4 mt-5">
                                    <button type="submit" mat-raised-button color="primary"
                                            [disabled]="!publicationForm.valid || loading">
                                        {{isEditing ? ('content.update' | translate) : ('content.create' | translate)}}
                                    </button>
                                    <button mat-raised-button
                                            [routerLink]="!isEditing ? ['/p/my-publications'] : ['/p', slug]">{{'content.cancel' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
