@import "../../../assets/css/variables.scss";

.boost-progress{
  display: flex;
  flex-direction: column;
  //height: calc(100% - 30px - 25px);
  &__item{
    span{
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #2B2B2B;
      padding: 0 4px;
      margin-bottom: 4px;
      display: block;
    }
  }
  &__balance{
    justify-self: flex-end;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    >span{
      font-size: 13px;
      line-height: 20px;
      color: #8D929A;
      padding: 0 20px;
      margin: 0;
    }
    &__amount{
      margin-top: 15px;
      font-size: 13px;
      line-height: 20px;
      color: #2B2B2B;
      padding: 15px;
      background: #F7F8F9;
      border: 4px solid #ECF0F3;
      border-radius: 10px;
    }
  }
}
.publish__main{
  min-height: 200px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px 0 rgb(0, 0, 0);
  border-radius: 15px;
  bottom: auto;
  right: auto;
  transition: opacity .3s ease-in-out;
  transition-delay: .2s;
  display: flex;
  border: none;
  .close-icon{
    position: absolute;
    right: 25px;
    top: 22px;
    cursor: pointer;
    background: #ECF0F3;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    i{
      font-size: 20px;
      margin: 0;
    }
  }
  .white-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -1;
  }
  .new-boost-input{
    margin: 15px 0 0;
  }
  .boost-fee{
    color: #2B2B2B;
    margin-bottom: 25px;
    padding: 5px 5px 0;
  }
  h3{
    font-size: 22px;
    margin: 0 ;
    color: white;
    font-weight: bold;
    line-height: 20px;
  }
  p{
    font-size: 13px;
    color: rgba(255,255,255,0.60);
  }
  >div{
    h3{
      padding: 0 5px;
    }
  }
  &--white-space{
    background-color: white;
    min-height: 520px;
    border-radius: 15px;
    padding: 25px 25px 20px;
    max-width: 360px;
    width: 100%;
    h3{
      color: #2b2b2b;
    }
    p{
      margin: 0 0 20px;
    }
  }
  ::ng-deep .button-boost:not(.button-boost--cancel){
    display: flex;
    justify-content: center;
    margin-left: auto;
    height: 50px;
    border: none;
    background-color: #3366FF;
    box-shadow: 0 3px 7px 0 rgba(43, 43, 43, 0.1);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    min-width: 100%;
    font-size: 17px;
    font-weight: bold;
    margin-top: 40px;
    color: white;
  }
  .cancel-boost{
    padding: 25px 25px 20px;
    max-width: 440px;
    width: 100%;
    h3{
      color: #2b2b2b;
      padding: 0;
    }
    .boost-fee{
      padding: 0;
      margin: 20px 0 0;
    }
    .boost-hint{
      padding: 0;
      margin: 10px 0 30px;
    }
    p{
      color: #2b2b2b;
      font-size: 16px;
      margin: 40px 0 20px;
    }
    ::ng-deep .button-boost--cancel{
      margin-top: 20px;
    }
  }
}
