<div id="publishMain" class="publish__main">
  <span class="close-icon" (click)="closeBoostModal($event)"><i class="icon-close"></i></span>
  <span class="white-overlay"></span>
  <!--edit boost-->
  <div *ngIf="modalType == 'boost'" class="publish__main--white-space">
    <h3>{{'boost-modal.boost' | translate}}</h3>
    <p class="boost-fee">{{'boost-modal.boost_fee' | translate}}{{': ' + boostFee + 'PBQ'}}</p>
    <div class="boost-progress">
      <div class="boost-progress__item">
        <span>{{'boost-modal.budget' | translate}}</span>
        <ui-progress [className]="'custom-class'" [minValue]="30" [maxValue]='100' [defaultValue]="boostPrice" [titleName]="'PBQ'" (onRange)="onRangeChange($event)"></ui-progress>
      </div>
      <ui-tab className="boost-tabber" [tabs]="boostTab" [type]="'buttons'" [currentValue]="''+boostDays" (onTabChange)="boostTabChange($event)"></ui-tab>
      <div class="boost-progress__balance">
        <span>{{'boost-modal.your_balance' | translate}} <b>{{accountService.accountInfo ? (accountService.accountInfo.balance | number:'0.0-8') : 0}} PBQ</b></span>
        <div class="boost-progress__balance__amount">
          {{'boost-modal.you_will_spend' | translate}} <b>{{(boostPrice / boostDays) | number : '1.2-2'}} PBQ</b> {{'boost-modal.per_day' | translate}}
        </div>
      </div>
      <ui-input [type]="'password'" class="new-boost-input" [inputId]="'new_boost_password'" [placeholder]="'boost-modal.enter_password' | translate" (_onChange)="onInputChange($event)"></ui-input>
      <ui-button [className]="'button-boost'" [type]="'primary'" [text]="'boost-modal.boost' | translate" (btnClicked)="addBoostSubmit()"></ui-button>
    </div>
  </div>

  <!--cancel boost-->
  <div class="cancel-boost" *ngIf="modalType == 'cancel-boost'">
    <h3>{{'boost-modal.cancel_boost' | translate}}</h3>
    <p class="boost-fee">{{'boost-modal.boost_fee' | translate}}{{': ' + boostFee + 'PBQ'}}</p>
    <p class="boost-hint">{{'boost-modal.cancel_boost_hint' | translate}}</p>
    <ui-input [type]="'password'" [className]="'boost-input'" [inputId]="'cancel_password'" [placeholder]="'boost-modal.enter_password' | translate" (_onChange)="onInputChange($event)"></ui-input>
    <ui-button [className]="'button-boost button-boost--cancel'" [type]="'primary'" [text]="'boost-modal.cancel' | translate" [disabled]="!boostPassword" (btnClicked)="cancelBoostSubmit()"></ui-button>
  </div>
</div>
