@import "../../../assets/css/variables.scss";

.boost-progress{
  display: flex;
  flex-direction: column;
  @include media-sm {
    height: 100%;
  }
  //height: calc(100% - 30px - 25px);
  &__item{
    span{
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #2B2B2B;
      padding: 0 4px;
      margin-bottom: 4px;
      display: block;
    }
  }
  &__balance{
    justify-self: flex-end;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    >span{
      font-size: 13px;
      line-height: 20px;
      color: #8D929A;
      padding: 0 2px;
      margin-top: 7px;
      margin-bottom: 0px;
      b {
        color: #8D929A;
        font-weight: 600;
      }
    }
    &__amount{
      font-size: 13px;
      line-height: 20px;
      margin: 0px 2px;
      padding: 7px 0px;
      border-bottom: 1px solid #ECF0F3;
      color: #8D929A;
      b {
        color: #8D929A;
        font-weight: 600;
      }
    }
  }
}
.publish__main{
  min-height: 200px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px 0 rgb(0, 0, 0);
  border-radius: 15px;
  bottom: auto;
  right: auto;
  transition: opacity .3s ease-in-out;
  transition-delay: .2s;
  display: flex;
  border: none;
  .boost-label {
    position: relative;
    &:after {
      content: attr(data-currency);
      position: absolute;
      top: 16px;
      font-weight: bold;
      right: 20px;
      font-size: 17px;
      color: #191B1E;
      letter-spacing: 0;
      font: 16px/20px "Open Sans",sans-serif;
      z-index: 5;
    }
    ::ng-deep {
      ui-input.current-boost-count {
        input {
          background: #ECF0F3!important;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        /* Firefox */
        input[type=number] {
          -moz-appearance:textfield;
        }
      }
    }
  }
  .close-icon{
    position: absolute;
    right: 25px;
    top: 22px;
    cursor: pointer;
    background: #ECF0F3;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    i{
      font-size: 20px;
      margin: 0;
    }
  }
  .white-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -1;
  }
  .new-boost-input{
    margin: 15px 0 0;
  }
  .boost-fee{
    font-family: $open-sans;
    font-size: 13px;
    color: #8D929A;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0px 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ECF0F3;
    b {
      color: #8D929A;
      font-weight: 600;
    }
  }
  h3{
    font-size: 22px;
    margin: 0 ;
    color: white;
    font-weight: bold;
    line-height: 20px;
  }
  p{
    font-size: 13px;
    color: rgba(255,255,255,0.60);
  }
  >div{
    h3{
      font-family: $open-sans;
      font-size: 22px;
      color: #2B2B2B;
      letter-spacing: 0;
      text-align: center;
    }
  }
  &--white-space{
    background-color: white;
    min-height: 520px;
    border-radius: 15px;
    padding: 25px 25px 20px;
    min-width: 360px;
    width: 100%;
    @include media-sm {
      height: 100%;
    }
    h3{
      color: #2b2b2b;
    }
    p{
      margin: 0 0 20px;
    }
  }
  ::ng-deep .button-boost:not(.button-boost--cancel){
    position: relative;
    cursor: pointer;
  }
  .cancel-boost{
    padding: 25px 25px 20px;
    max-width: 440px;
    width: 100%;
    position: relative;
    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #2b2b2b;
      cursor: pointer;
      background-color: #ECF0F3;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h3{
      color: #2b2b2b;
      padding: 0;
      text-align: left;
    }
    .boost-fee{
      padding: 0;
      margin: 20px 0 20px;
      border-bottom: none;
    }
    p{
      color: #2b2b2b;
      font-size: 16px;
      margin: 40px 0 20px;
    }
    ::ng-deep .button-boost--cancel{
      margin-top: 20px;
    }
  }
}
::ng-deep .password-error .input {
  border: 1px solid #FE3A52 !important;
}

.boost-footer {
  display: flex;
  justify-content: space-between;
  margin: 35px 0px 25px 0px;
  ::ng-deep {
    ui-button {
      width: 100%;
      &.cancel-boost-btn {
        margin-right: 15px;
      }
    }
    .button-boost {
      padding: 10px 28px;
      width: 100%;
      border-radius: 10px;
      font-family: $open-sans;
      font-weight: 600;
      letter-spacing: 0;
      text-align: center;
      line-height: 26px;
      font-size: 17px;
      max-width: 150px;
      &--cancel {
        border: 1px solid #DEE2E6;
        color: #565A60;
      }
      &--apply {
        background: #3366FF;
        box-shadow: 0 3px 7px 0 rgba(0,0,0,0.07);
        color: #FFFFFF;
      }
    }
  }
}
