div {
    overflow: auto;
    position: relative;
    display: flex;
    align-items: center;
    background: #ECF0F3;
    color: grey;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0px 15px;
    transition: .3s ease-out;
    z-index: 3;
    max-width: 360px;
    width: 100%;
    outline: none;
}

ui-chip {
  margin-left: 0;
  margin-right: 8px;
}

input {
    width: 100%;
    min-width: 150px;
    outline: none;
    border: none;
    padding: 15px 0;
    background: #ECF0F3;
    font-size: 15px;
    &::-webkit-input-placeholder{
      color: #8D929A;
    }
}
