<div class="container">
    <div class="row publications-heading">
        <div class="col-lg-6 offset-lg-2 col-9">
            <h1>{{'publication.publications' | translate}}</h1>
            <div *ngIf="invitationsCount" class="arrowed-action" (click)="openPublicationModal(true, 'invitation')">
                <span>{{'publication.invitations' | translate}}<small>({{invitationsCount}})</small></span>
                <i class="icon-arrow-right"></i>
            </div>
        </div>
        <div class="col-lg-2 col-3">
            <ui-button text="{{'publication.create' | translate}}" (click)="openPublicationModal(true, 'create')"></ui-button>
        </div>
    </div>
    <div class="row publications-staff" *ngIf="publications && publications.length">
        <div class="col-lg-8 offset-lg-2">
            <!-- <h2 class="section-heading">Staff</h2> -->
            <ui-publication-single *ngFor="let publication of publications;" [className]="'staff-publication'" [type]="'staff'" (getSelectedMember)="memberClick($event)" [publicationData]="publication" (getPublicationSlug)="changeRoute('/p/' + $event)"></ui-publication-single>
        </div>
    </div>
    <div class="not-found local" *ngIf="publications && !publications.length">
        <img src="../../../assets/no_result.svg" alt="">
        <b>{{'publication.no_publications' | translate}}</b>
    </div>
    <div class="row publications-following" *ngIf="subscriptions && subscriptions.length">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="section-heading">{{'publication.following' | translate}}</h2>
            <ui-publication-single *ngFor="let publication of subscriptions;let i=index"
                                   className="staff-publication following" type="follow" [publicationData]="publication" (getPublicationSlug)="changeRoute('/p/' + $event)" (follow)="unfollow(publication, i)"></ui-publication-single>
        </div>
    </div>
</div>

<ng-container *ngIf="showCustomModal">
    <app-publication-modal (onCloseModal)="closeModal($event)" (updatePublicationData)="getMyPublications()" [modalType]="showModalType" [invitations]="invitations"></app-publication-modal>
</ng-container>
